@use "variables" as v;
@import "./sidebar";

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-surface);
  color: var(--color-zinc-900);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-shell {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100vw;

  .shell-body {
    display: flex;
    flex: 1;
    overflow: hidden;

    #map-container {
      flex: 1;
      position: relative;
      height: 100%;
      background-color: #f3f4f6;
    }
  }
}
