// Global variable (we can move this to a _variables.scss later)
@use "./variables" as *;

#sidebar {
    width: $sidebar-width;
    height: 100%;
    border-right: 1px solid $color-primary;
    background-color: $gray-700;
    color: $gray-50;
    z-index: 20;
}
